.grid {
  margin: 0 !important;
  /* justify-items: center; */
  /* text-align: center; */
  /* min-height: 100%; */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  width: 100%;
}

a.item {
  margin: auto;
  padding: 0.2%;
}

.pokemon {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Num Entries Per Page */
.numEntries {
  display: block;
  width: 100%;
}

.numEntries ul {
  float: right;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 10px;
}

li {
  list-style: none;
  text-align: right;
  display: inline;
  margin: 5px;
}

li:not(.unclickable):hover {
  color: blue;
  cursor: pointer;
}

/* Bootstrap css for this */
li:not(.unclickable):active {
  text-decoration: underline;
}

/* Pagination */
.pagination {
  display: block;
  width: 100%;
}

.pagination * {
  margin: 10px;
}

.pagination button:hover {
  background-color: lightblue;
}

/* ################# Card Component ################# */

div.card-body {
}

/* ################# Poke Info Page ################# */
.poke.title {
  display: block;
  font-size: 40px;
  margin: 2rem;
  vertical-align: middle;
  text-align: center;
}

.column.title {
  background-color: lightgrey;
  border-radius: 5px;
}

/* Type */

div.pokemon-type ul {
  padding-left: 0;
}

div.type-area {
  display: block;
  text-align: center;
}

div.type-area li {
  display: inline-block;
  list-style: none;
  pointer-events: none;
}

/* Stats */
.stat-name {
  text-align: left;
}

.stat-detail {
  text-align: right;
}

.stat-items {
  width: 100%;
}

.stat-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
