body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ################# CardTable ################ */

/* ----------------- Number of Entries -------- */

.numEntries {
  display: block;
  width: 100%;
}

.numEntries ul {
  float: right;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 10px;
}

li {
  list-style: none;
  text-align: right;
  display: inline;
  margin: 5px;
}

li:not(.unclickable):hover {
  color: blue;
  cursor: pointer;
}

/* Bootstrap css for this */
li:not(.unclickable):active {
  text-decoration: underline;
}

/* --------------- Pagination --------------- */
.pagination {
  margin: auto;
  display: block;
  width: 50%;
}

.pagination * {
  margin: 20px;
}

.pagination button:hover {
  background-color: lightblue;
}

/* --------------- Card Component --------------- */
div.box {
  min-height: 450px;
  max-height: 450px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* --------------- Card Table Component --------------- */
.container {
  margin: auto;
  /* justify-items: center; */
  text-align: center;
  /* min-height: 100%; */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  width: 80%;
  min-height: 1000px;
}

.grid {
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.pokemon {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 400px;
}
